.cart-icon {
    width: 20px;
    height: 24px;
    margin: auto;
}

.search-icon {
    width: 16px;
    height: 20px;
    margin-top: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}

.search-icon-big {
    width: 24px;
    height: 22px;
}

.down-icon {
    width: 10px;
    height: 11px;
}