@import "./reset";

body {
    background-color: white;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #243f4d;
}

.container {
    max-width: 1358px;
    margin: 0 auto;
    padding: 0 15px;

    &--box {
        max-width: 1328px;
        padding: 0;
    }

}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}


.d-none {
    display: none;
}

// block
// @import '@/styles/block/top-slider.scss';
// @import '@/styles/block/offers.scss';
// @import '@/styles/block/product.scss';
// @import '@/styles/block/order.scss';
// @import '@/styles/block/success.scss';
// @import '@/styles/block/footer.scss';
// compnents

// @import '@/styles/components/all-svg.scss';
// @import '@/styles/components/custom.scss';
// @import '@/styles/components/brands.scss';
@import '@/styles/components/cart.scss';
// @import '@/styles/components/product-show.scss';
// @import '@/styles/components/recent.scss';
// @import '@/styles/components/header-order.scss';
// @import '@/styles/components/order-card.scss';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/jquery-form-styler/dist/jquery.formstyler';
@import '../../node_modules/jquery-form-styler/dist/jquery.formstyler.theme';