.success {
    &__wrapper {
        padding: 160px 0;

        @media(max-width: 768px) {
            padding: 0 0 60px;

        }
    }

    &__content {
        padding-top: 20px;
    }

    &__text {
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 3.8px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 28px;

        @media(max-width: 575px) {
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 2.8px;

        }

        &--size {
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.4px;
            color: #000000;
            display: block;
            max-width: 376px;
            padding-top: 20px;
            text-transform: none;
        }
    }

    &__order-inner {
        margin-bottom: 28px;
    }

    &__order-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.4px;
        color: #000000;
        margin-bottom: 4px;
        display: block;
    }

    &__order-number {
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        color: #000000;
    }

    &__link {
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        align-items: center;
        text-align: center;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 20px 0;
        max-width: 192px;
        background-color: black;
        width: 100%;
        display: block;
    }

    &__img-inner {
        @media(max-width: 768px) {
            display: none;

        }
    }
}